h1
{
    color:purple;
    font-size: 100;
    background: mediumturquoise;
}
p1
{
    background-color: rgb(255,165,0,0.9)
    
}

body
{
      background-color: palevioletred;

}
span
 {
     background-color: navy;
 }
 