h1
{
    color:rgb(235, 226, 235);
    font-size: 200;
    background: mediumturquoise;
}
p1
{
    background-color: rgba(255, 94, 0, 0.9)
    
}   

body
{
      background-color: palevioletred;

}
span
 {
     background-color: navy;
 }
 